h1 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

body {
    display: flex;
    justify-content: center;
}

div{
    position: relative;
    background-color: white;
    width: 600px;
    height: 250px;
    border-radius: 5px;
    margin-top: 90px;
}

button {
    width: 90px;
    height: 40px;
    color: white;
    font-size: 0.8em;
    text-align: center;
    left: 500px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;

}



p {
    text-align: right;
}

#color {
    background: rgb(0, 0, 0);

}

#colorfont {
    color: rgb(0, 0, 0);
}